@page
@model ContatoModel
@{
    ViewData["Title"] = "Contato";
}

<section class="contact-hero text-white text-center d-flex align-items-center">
    <div class="container">
        <h1 class="section-title fw-bold">Contato</h1>
        <p class="lead mt-3">
            Vamos conversar sobre oportunidades e projetos.
        </p>
    </div>
</section>

<section class="py-5">
    <div class="container">

        @if (!string.IsNullOrEmpty(Model.MensagemSucesso))
        {
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                @Model.MensagemSucesso
                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            </div>
        }

        <div asp-validation-summary="All" class="text-danger"></div>

        <form method="POST" action="action="
              https://formspree.io/f/SEU_ID?next=https://lucianoferreiradev.com/ContatoSucesso"
              class="contact-card p-4 mx-auto contact-form">

            <div class="mb-3">
                <label class="form-label">Nome</label>
                <input name="name" class="form-control" required />
            </div>

            <div class="mb-3">
                <label class="form-label">Email</label>
                <input name="email" type="email" class="form-control" required />
            </div>

            <div class="mb-3">
                <label class="form-label">Mensagem</label>
                <textarea name="message" class="form-control" rows="4" required></textarea>
            </div>

            <!-- opcional: assunto do email -->
            <input type="hidden" name="_subject" value="Novo contato do portfólio" />

            <button type="submit" class="btn btn-dark w-100">
                Enviar Mensagem
            </button>

        </form>

    </div>
</section>